.article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.encabezado {
	color: var(--orange);
	font-family: var(--rosario);
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	align-self: center;
}

.mision {
	top: 0;
	width: 100%;
	margin: 0;
	color: var(--gray);
	font-family: var(--sans);
	font-size: clamp(12px, 3vw, 20px);
	line-height: 2;
	text-align: center;
	letter-spacing: 1px;
	word-spacing: 2px;
	align-self: center;
}
