.content {
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 800px) {
	.content {
		grid-template-columns: 1fr;
	}
}

.content > * {
	padding: 20px;
	font-size: 100%;
	/* needed for the floated layout*/
	margin-bottom: 10px;
}

.serv {
	color: var(--orange);
	font-family: var(--rosario);
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	align-self: center;
}

.list {
	top: 0;
	width: 100%;
	margin: 0;
	color: var(--gray);
	font-family: var(--sans);
	font-size: clamp(12px, 3vw, 20px);
	line-height: 2;
	text-align: left;
	letter-spacing: 1px;
	word-spacing: 2px;
	align-self: center;
}
